// footer.component.scss
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .section {
    padding: 10px;
  }
  

/* Add these styles to your existing styles in footer.component.scss */

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.round-picture {
  width: 40%;
  margin-bottom: 10px;
}



.contact-icons {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Optional: Make the buttons circular */
  }

  /* Customize colors based on platform */
  button.phone {
    background-color: #34a853; /* Google Phone color */
  }

  button.mail {
    background-color: #ea4335; /* Google Mail color */
  }

  button.linkedin {
    background-color: #0077b5; /* LinkedIn color */
  }

  button.github {
    background-color: #211f1f; /* GitHub color */
  }

  mat-icon {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  }
}



// this is the parent span angular inserts for icon inside mat-fab
::ng-deep.mat-fab .mat-button-wrapper {
  display: flex !important;
  justify-content: center !important;
}
// this is the parent span angular inserts for icon inside mat-fab
::ng-deep.mat-fab .mat-button-wrapper {
  display: flex !important;
  justify-content: center !important;
}



.section {
  text-align: justify;
}

.section p {
  text-align: left; /* Align the paragraph text to the left */
}

.section a {
  color: #007bff; /* Change the link color to a preferred color */
  text-decoration: none; /* Remove the underline from the links */
  font-weight: bold; /* Make the links bold if desired */
}

.section a:hover {
  text-decoration: underline; /* Add underline on hover */
}