<!-- footer.component.html -->
<div class="footer">
    <mat-grid-list cols="6" >
      <!-- First Section -->
      <mat-grid-tile  colspan="2">
        <div class="section">
          <a href="https://www.buymeacoffee.com/FACHATI" target="_blank">
            <img
              src="assets/logo-no-background.svg"
              alt="Team logo"
              matTooltip="Our Team"
              style="width: 80%; cursor: default;"
            />
          </a>
        </div>
      </mat-grid-tile>
  
      <!-- Second Section -->
      <mat-grid-tile  colspan="2">

        <div class="section">
          <h3>About us</h3>
          <br>
          <p>
            Cette application a été créée pour l'événement "Nuit de l'Informatique 2023" par deux étudiants passionnés en Master MIAGE de l'université Paris Nanterre. 
            <br>Le projet est en open source, voici les liens des dépôts du <a href="https://github.com/ofachati/nuit_info_front" target="_blank">frontend</a> et du <a (click)="onBackendClick()" target="_blank">backend </a>sur Github.
            
            <br><br>
            Équipe INIT TO WIN IT

          </p>
          <br>
          <a href="https://www.buymeacoffee.com/FACHATI" target="_blank" target="_blank">Buy us a coffee ☕</a><br>
          <a (click)="onButtonClick()" target="_blank">Terms and conditions (MUST READ)</a>
        </div>
        
      </mat-grid-tile>
  
      <!-- Third Section -->
      <mat-grid-tile colspan="1">

         <!-- <h3>Contactez nous</h3>-->

          <!-- First Subsection -->
          <div class="contact-subsection">
            <img class="round-picture" src="assets/omar-memogi.png" alt="First Person" matTooltip="Omar" [matTooltipPosition]="'above'" (click)="DeveloperMode()">

            <div class="contact-info">
              <p>Omar EL FACHATI</p>
              <br>
              <div class="contact-icons">
                <button mat-fab class="phone" matTooltip="+33 763638534" onclick="window.open('tel:+33763638534')"> <mat-icon>phone</mat-icon></button>
                <button mat-fab class="mail" matTooltip="email" onclick="window.open('mailto:elfachatiomar@gmail.com')"> <mat-icon>mail</mat-icon></button>
                <button mat-fab class="linkedin" matTooltip="Linkedin" onclick="window.open('//www.linkedin.com/in/fachati', '_blank')" style="color: white; font-size: large;">in</button>
                <button mat-fab class="github" matTooltip="Github" onclick="window.open('//github.com/ofachati', '_blank')"><mat-icon>code</mat-icon></button>
              </div>
          </div>
      
    
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile colspan="1">

         <!-- <h3>Contactez nous</h3>-->
          <!-- First Subsection -->
          <!-- Second Subsection -->
          <div class="round-picture" class="contact-subsection">
            <img  class="round-picture"  src="assets/mohamed-memogi.png" alt="Second Person" matTooltip="Momo" [matTooltipPosition]="'above'"  (click)="DeveloperMode()">
            <div class="contact-info">
              <p>Mohamed KONATE</p>
              <br>
              <div class="contact-icons">
                <!-- Phone -->
<button mat-fab class="phone" matTooltip="this guy has at least 3 numbers , good luck calling him" onclick="window.open('tel:+33763638534')"><mat-icon>phone</mat-icon></button>
<button mat-fab class="mail" matTooltip="email" onclick="window.open('mailto:your.email@example.com')"> <mat-icon>mail</mat-icon></button>
<button mat-fab class="linkedin" matTooltip="Linkedin" onclick="window.open('//www.linkedin.com/in/your-linkedin-profile', '_blank')" style="color: white; font-size: large;">in</button>
<button mat-fab class="github" matTooltip="Github" onclick="window.open('//github.com/your-github-profile', '_blank')"><mat-icon>code</mat-icon></button>

              </div>
            </div>
          </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
  