<mat-toolbar class="toolbar" role="banner" color="warn">

  <img
  height="65%"
  alt="Angular Logo"
  src="assets/pictures/climateswap-logo2.svg"
  routerLink="/"
  matTooltip="Go Home"
  style="cursor: pointer;"
/>
  <span class="spacer"></span>

  <!-- Updated buttons with routing and spacing -->
  <button mat-button routerLink="/" class="toolbar-button">
    <mat-icon>touch_app</mat-icon>
    Swipe
  </button>
  <button mat-button routerLink="/statistiques" class="toolbar-button">
    <mat-icon>bar_chart</mat-icon>
    Statistiques
  </button>
  <!--
  <button mat-button routerLink="/ai" class="toolbar-button">
    <mat-icon>psychology</mat-icon>
    IA
  </button>
-->

  <span class="spacer"></span> <!-- Another spacer for right alignment of remaining items -->

</mat-toolbar>
