<div class="container" >
  
<div style=" margin-top: 50px;margin-left: 100px;margin-right: 100px;">
  <mat-grid-list cols="3" rowHeight="1:2">
  
    <!-- First Section climateswap-logo.svg-->
    <mat-grid-tile colspan="2">
      <div class="section" style="margin-right: 50px;">
        <img src="assets/pictures/climateswap-logo.svg" alt="Your Image Alt Text" style="width: 100%;"><br><br>

        <h1>Testez vos connaissances sur le changement climatique avec ClimateSwipe :<br><br> pensez-vous que l'information soit vraie ? Swipez à droite. Ou est-ce un mythe ? Swipez à gauche. À chaque swipe, une réponse instantanée vous révèle la réalité. Apprenez en jouant et devenez un acteur éclairé dans la lutte contre le changement climatique. <br><br>
          Swipez pour la vérité, swipez pour la planète !</h1>
      </div>
    </mat-grid-tile>
    

    <!-- Second Section -->
    <mat-grid-tile colspan="1">
      <div class="section">
        <div class="tinder-card-container">
          <app-tinder-card [cardData]="currentAssumption" (next)="goToNextAssumption()">
          </app-tinder-card>
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
</div>
