.tbg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    /* Green gradient background */
    background: linear-gradient(to right, #fafafa, #c9d6dc);
  }
  
  /* Additional styling for header and footer */
  .header, .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  