<div class="container" >
  
<div style=" margin-top: 50px;margin-left: 100px;margin-right: 100px;">
  <mat-grid-list cols="3" rowHeight="1:2">
  
    <!-- First Section climateswap-logo.svg-->
    <mat-grid-tile colspan="2"  style="margin-top: -80px;">
      <div class="section" style="margin-right: 50px; margin-top:  -200 px;">
        <img src="assets/pictures/climateswap-logo.svg" alt="Logo Climate Swipe" style="width: 100%;"><br><br>
        <h1><b>Testez vos connaissances sur le changement climatique avec ClimateSwipe :<br><br> Pensez-vous que l'information soit vraie ? Swipez à droite 💜. Ou est-ce un mythe ? Swipez à gauche ❌. À chaque swipe, une réponse instantanée vous révèle la réalité. Apprenez en jouant et devenez un acteur éclairé dans la lutte contre le changement climatique . <br><br>
          Swipez pour la vérité, swipez pour la planète !</b></h1>
      </div>
    </mat-grid-tile>
    

    <!-- Second Section -->
    <mat-grid-tile colspan="1" >
      <div class="section">
        <div class="tinder-card-container">
          <app-tinder-card [cardData]="currentAssumption" (next)="goToNextAssumption()">
          </app-tinder-card>
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
</div>
