

  <div [@swipeAnimation]="swipeState">
    <mat-card class="mat-elevation-z11">
        <mat-card-header style="display: flex; align-items: center; justify-content: center;">
            <div style="font-size: 2em; font-weight: bold; text-align: center; margin-bottom: 40px;">{{ cardData.title }}</div>
        </mat-card-header>
        <img mat-card-image [src]="cardData.image" alt="Card image" style="width: 100%; height: 400px; object-fit: cover; margin-bottom: 40px;">
        <mat-card-content>
            <p>{{ cardData.assumption }}</p>
        </mat-card-content>
        <mat-card-actions style="display: flex; justify-content: space-between; padding: 30px;">
            <button mat-fab color="warn" (click)="swipeLeft()" style="font-size: 68px; width: 88px; height: 88px !important;">
                <mat-icon class="custom-icon">close</mat-icon>
            </button>
            <button mat-fab color="primary" (click)="swipeRight()" style="font-size: 68px; width: 88px; height: 88px !important;">
                <mat-icon class="custom-icon">favorite</mat-icon>
            </button>
        </mat-card-actions>
      </mat-card>  </div>