<mat-card class="mat-elevation-z11">
    <mat-card-header>
      <mat-card-title>{{ cardData.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="cardData.image" alt="Card image">
    <mat-card-content>
      <p>{{ cardData.assumption }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab color="warn" (click)="swipeLeft()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="swipeRight()">
        <mat-icon>favorite</mat-icon>
      </button>
     
    </mat-card-actions>
  </mat-card>
  