
  
@-webkit-keyframes roll {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}

@keyframes roll {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.easter-egg {
  -webkit-animation-name: roll;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
}



.singer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-image: url('/assets/rickroll.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999; /* Ensure the singer is on top of other elements */
  }
  
  .mission {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-image: url('/assets/pictures/mission-passed.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999; /* Ensure the singer is on top of other elements */
  }
  


 

