<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>404 - Not Found</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br><br>
        <p>Oops! La page que vous avez demandée n'a pas été trouvée.</p>
        <p>Vous pouvez revenir à <a routerLink="/">la page d'accueil</a>.</p>
        <br>
        <p>hé mais avant, jouons à un petit jeu</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <br><br><br><br>
  <app-tetris></app-tetris>
  


      