<div class="container" >
<br><br><br><br>

<H1>Statistiques</H1><br>

<h2>My Chart Title</h2>
<ngx-charts-line-chart
  [view]="[700, 300]"
  [results]="multi"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="'Year'"
  [yAxisLabel]="'CO2 Emissions'"
  [timeline]="true"
  [animations]="true">
</ngx-charts-line-chart>

<h2>My Chart Title</h2>
<ngx-charts-bar-vertical
[view]="[700, 300]"
  [results]="topEmittingCountries"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Country'"
  [yAxisLabel]="'CO2 Emissions (million tonnes)'">
</ngx-charts-bar-vertical>

<h2>My Chart Title</h2>
<ngx-charts-advanced-pie-chart
  [view]="[750, 550]"
  [results]="advancedPiechartData"
  [gradient]="true"
 >
</ngx-charts-advanced-pie-chart>

<h2>My Chart Title</h2>
<ngx-charts-line-chart
  [view]="[700, 400]"
  [results]="lineChartCo2TempData"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Year'"
  [yAxisLabel]="'Values'"
  [timeline]="true"
  [animations]="true">
</ngx-charts-line-chart>

<h2>Emissions Intensity by Country</h2>
<ngx-charts-bubble-chart
  [view]="[700, 400]"
  [results]="bubbleChartData"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="'GDP'"
  [yAxisLabel]="'CO2 Emissions'"
  [tooltipDisabled]="false">
</ngx-charts-bubble-chart>

</div>