<div *ngIf="isLoading" class="spinner-container">
    <mat-spinner class="uploader-status"></mat-spinner>
  </div>

<div class="container" *ngIf="!isLoading">
    <!-- Spinner -->

<br><br><br><br>

<H1 class="title">Climat en Chiffres</H1><br>
<p>Bienvenue sur notre page dédiée aux statistiques climatiques, un espace conçu pour éclairer les débats actuels sur le changement climatique à l'aide de données empiriques. Nous exploitons la vaste base de données de <a href="https://github.com/owid/co2-data" target="_blank" style="color: #007bff;text-decoration: none; font-weight: bold;">Our World in Data</a>, une ressource complète et régulièrement mise à jour qui compile des indicateurs clés sur les émissions de CO2 et autres gaz à effet de serre. Cette collection de métriques essentielles inclut des données annuelles, par habitant, cumulatives et basées sur la consommation de CO2, les autres gaz à effet de serre, le mix énergétique, et d'autres variables pertinentes. 
    La fiabilité de nos visualisations s'appuie sur l'exhaustivité et la précision de cette base de données, qui allie des informations provenant de diverses sources reconnues telles que l'Energy Institute (EI), l'U.S. Energy Information Administration (EIA) et le Global Carbon Project. 
    En démystifiant les informations erronées sur le climat, notre objectif est de fournir un aperçu fiable et actualisé de l'impact humain sur notre planète, et d'offrir un outil précieux pour ceux qui cherchent à comprendre et à agir face aux défis environnementaux.
</p>
<mat-grid-list cols="2" rowHeight="250px">

<mat-grid-tile rowspan="2">
<div>
<h3>Émissions Globales de CO2 en Fonction de la Population</h3>
<ngx-charts-line-chart
  [view]="[700, 400]"
  [results]="countryEmmisionByYear"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="'population'"
  [yAxisLabel]="'Emissions de CO2'"
  [timeline]="true"
  [animations]="true">
</ngx-charts-line-chart>
</div>
</mat-grid-tile>


<mat-grid-tile rowspan="2">
    <div>
    <h3>Corrélation entre Émissions et changement de Température</h3>
    <ngx-charts-line-chart
      [view]="[700, 400]"
      [results]="lineChartCo2TempData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Année'"
      [yAxisLabel]="'Valeur normalisée'"
      [timeline]="true"
      [animations]="true">
    </ngx-charts-line-chart>
    </div>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="2" rowspan="1">
        <div>
        <p>Dans la première visualisation nous observons une courbe ascendante démontrant l'augmentation des émissions de CO2 en corrélation avec la croissance démographique mondiale. Cette représentation graphique vient contester l'idée reçue que l'augmentation des émissions est uniquement due à l'industrialisation, en mettant en lumière l'influence significative de la population sur l'empreinte carbone.
        </p><p>La deuxième visualisation, "Corrélation entre Émissions de CO2 et Changement de Température", met en parallèle l'accroissement des émissions de CO2 et les changment de température sur une échelle de temps. Ce graphique normalisé permet d'observer les tendances sans être influencé par les échelles différentes, offrant une perspective claire sur la manière dont ces deux phénomènes évoluent proportionnellement, La superposition des deux courbes révèle comment l'augmentation des émissions de CO2 s'accompagne souvent d'une hausse des températures, mettant en évidence le lien étroit entre activités humaines et changement climatique. Ce graphique déconstruit le mythe selon lequel les changements de température sont un phénomène naturel et non lié aux actions humaines, en exposant la synchronisation remarquable entre les deux tendances.
        </p>
    </div>  
    </mat-grid-tile>

<mat-grid-tile rowspan="2">
<div>
<h3>Profil des Émissions par Région</h3>
<ngx-charts-bar-vertical
[view]="[700, 450]"
  [results]="topEmittingCountries"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Pays'"
  [yAxisLabel]="'Émissions (millions de tonnes)'">
</ngx-charts-bar-vertical>
</div>
</mat-grid-tile >
<mat-grid-tile rowspan="2">
    <p>Ce graphique, que nous pourrions intituler "Profil des Émissions par Région", révèle la quantité de CO2 émise par différentes régions et pays. Il met en lumière la répartition inégale des émissions, défiant ainsi la croyance répandue que les émissions sont uniformément réparties à travers le monde. En effet, des acteurs économiques majeurs tels que l'Asie et les pays à revenu élevé figurent en tête, ce qui invite à une réflexion sur les responsabilités différenciées dans la lutte contre le changement climatique.

    </p>
</mat-grid-tile>

<mat-grid-tile rowspan="2">
    <p>Ce graphique confronte l'intensité des émissions, mesurée en CO2 émis par unité de PIB, à la richesse économique des pays. Cette représentation éclaire la notion erronée que la prospérité économique est synonyme d'une grande empreinte carbone. Des pays à fort PIB par habitant présentent parfois une faible intensité d'émissions, ce qui illustre leur efficacité économique en matière de production de CO2. Cette visualisation offre une perspective nuancée, montrant que développement économique et durabilité environnementale peuvent coexister.</p>
</mat-grid-tile>
<mat-grid-tile rowspan="2">
    <div>
    <h3>Intensité des Émissions par PIB et par Pays</h3>
    <ngx-charts-bubble-chart
      [view]="[700, 400]"
      [results]="bubbleChartData"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'PIB par habitant'"
      [yAxisLabel]="'Émissions CO2'"
      [tooltipDisabled]="false">
    </ngx-charts-bubble-chart>
    </div>
    </mat-grid-tile>
   

<mat-grid-tile rowspan="1" colspan="2">
<div>
<h3>Contribution des Secteurs aux Émissions de CO2</h3>
<ngx-charts-advanced-pie-chart
  [view]="[1000, 200]"
  [results]="advancedPiechartData"
  [gradient]="true"
 >
</ngx-charts-advanced-pie-chart>
</div>
</mat-grid-tile>



<mat-grid-tile rowspan="2"><div>
<h3>Profil des Émissions de CO2 par Source pour Certains Pays</h3>
<ngx-charts-polar-chart
  [view]="[700, 400]"
  [results]="emissionsProfileData"
  [legend]="true"
  [legendTitle]="'Pays'"
  [showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxisLabel]="'source d émission'"
[yAxisLabel]="'Valeur d émission'"
[xAxis]="true"
  [yAxis]="true"
  >
</ngx-charts-polar-chart>
</div>
</mat-grid-tile>

<mat-grid-tile rowspan="2">
    <div>

        <p>le camembert en haut démystifie l'idée fausse selon laquelle seuls les secteurs industriels contribuent de manière significative aux émissions de CO2. En effet, il révèle l'impact considérable d'autres sources telles que l'énergie charbonnière, le gaz, le pétrole et les changements d'affectation des terres. Ce graphique souligne que la lutte contre les émissions de gaz à effet de serre nécessite une approche multisectorielle et nuancée.</p>
        <br>
        <p>La représentation en radar, ou "Profil des Émissions de CO2 par Source pour Certains Pays", illustre la distribution variée des émissions entre différentes sources pour une sélection de pays. Cette vue comparative déconstruit la notion que tous les pays contribuent aux émissions de CO2 de la même manière, mettant en évidence des profils d'émissions distincts qui reflètent la diversité des stratégies énergétiques et industrielles nationales.</p>

    </div>
</mat-grid-tile>

</mat-grid-list>
</div>