@use '@angular/material' as mat;

@use '_dark-theme.scss' as darkTheme;
@use '_light-theme.scss' as lightTheme;
@use '_xmas-theme.scss' as xmasTheme;

body.theme-dark {
  @include mat.all-component-themes(darkTheme.$dark-theme);
}

body.theme-light {
  @include mat.all-component-themes(lightTheme.$light-theme);
}
body.theme-christmas {
  @include mat.all-component-themes(xmasTheme.$christmas-theme);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 








h1 {
    font-size: 5.9vw;
  }
  h2 {
    font-size: 3.0vh;
  }
  p {
    font-size: 2vmin;
  }

