<div class="container" >

<br><br><br><br><h1>Détectez les informations fausses ou réelles sur le climat</h1>

<b style="color: red;">this feature is not implemented yet </b>

<br><br>
<p>Chez ClimateSwipe, nous comprenons l'importance de l'accès à des informations fiables et précises, surtout quand il s'agit de l'intelligence artificielle. C'est pourquoi nous avons développé une interface unique où vous pouvez facilement vérifier la véracité des informations sur l'IA.
</p>
<br><br><br>
<mat-form-field appearance="outline" style="width: 100%; height: 40%;">
    <mat-label>inserez le texte</mat-label>
    <textarea matInput></textarea>
</mat-form-field>
<button mat-raised-button color="primary" style="float: right;">Vérifier</button>
    <mat-label></mat-label>
</div>
  