<div class="dialog-content">
    <h2 mat-dialog-title>Félicitations!</h2>
    <h3>Vous avez débloqué le mode développeur !</h3><br><br>
    <p>Vous avez gagné les CVs de 2 développeurs ambitieux :) </p>

    <br>

    <div class="button-container">
      <button mat-raised-button color="primary" (click)="openPDF('curriculum vitae - EL FACHATI Omar.pdf')">
        <mat-icon>cloud_download</mat-icon>
        CV Omar EL Fachati
      </button>
    
      <br>
    
      <button mat-raised-button color="primary" (click)="openPDF('curriculum vitae - EL FACHATI Omar.pdf')">
        <mat-icon>cloud_download</mat-icon>
        CV Mohamed Konate
      </button>
    </div>
  </div>