<div id="helpdesk">
    <!--<button id="helpdesk-popup-button" (click)="openSupportPopup()">
      Need Help?
    </button>-->
    <button mat-fab aria-label="Bot" (click)="openSupportPopup()" matTooltip="🤖 Eko Bot" style=" background-color: #34a853;">
      <span style=" font-size: 30px; user-select: none;" >🤖</span>
      </button>
      
      
    <div id="helpdesk-popup" [style.display]="isOpen ? 'block' : 'none'">
      <div id="helpdesk-popup-header">
        <b>🤖 Eko </b> <span style=" font-size: 10px; user-select: none;" matTooltipPosition="above" matTooltip="en ligne" >🟢</span>
        <button id="helpdesk-popup-close-button" (click)="openSupportPopup()" matTooltipPosition="above" matTooltip="Fermer">
        ❌
        </button>
    
      </div>
      <div id="helpdesk-popup-body">
        <div class="messages" #scrollMe>
          <div *ngFor="let message of messages" class="message">
            <div [class]="message.type">
              {{ message.message }}
            </div>
          </div>
          <div
            *ngIf="loading"
            class="message"
            style="width: 100%; display: block"
          >
            <div [class]="'client'">...</div>
          </div>
        </div>
      </div>
      <!--
      <form id="helpdesk-popup-footer" [formGroup]="chatForm">
        <input
          formControlName="message"
          type="text"
          id="helpdesk-popup-input"
          placeholder="Type your message here..."
        />
        <button
          id="helpdesk-popup-submit-button"
          [disabled]="!chatForm.valid"
          (click)="sendMessage()"
        >
          Send
        </button>
      </form>
-->

      <form id="helpdesk-popup-footer" [formGroup]="chatForm" class="chat-form">
        <mat-form-field class="chat-input-field" appearance="fill">
          <input matInput formControlName="message" placeholder="Tapez votre message ici...">
          <button mat-mini-fab color="primary" class="send-button" [disabled]="!chatForm.valid" (click)="sendMessage()" matTooltipPosition="above" matTooltip="Envoyer">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>
      
    </div>
  </div>